<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
</head>
<body>
    <h1>Hello there</h1>
    <table>
        {% for transaction in transactions %}

          <tr>
            <td>{{transaction.date}}</td>
            <td><a href="/transaction/{{forloop.index0}}">{{transaction.amount}}</a></td>
            <td>{{transaction.where}}</td>
          </tr>


         {% endfor %}
      </table>
    
</body>
</html>